* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  padding-bottom: 240px;
  overflow: hidden;
}
.main-section,
.section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.black {
  background-color: #000;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  opacity: 1;
}
.image-section {
  background: url("https://via.placeholder.com/1920x1080") no-repeat center
    center/cover;
  background-position: center;
  background-size: cover;
}
.typing {
  color: #fff;
  font-size: 2rem;
}
.gray {
  background-color: #ccc;
  font-size: 3rem;
  font-weight: bold;
}
#letters {
  display: flex;
  gap: 16px;
}

#letters span {
  opacity: 0;
  display: block;
}

.question-mark {
  display: inline-block;
}

.main-section {
  flex-direction: column;
  height: auto;
}

.main-section section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100vh;
}

.inner-section {
  max-width: 800px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  /* opacity: 0; */
}

.title.left {
  margin-right: auto;
}

.title.right {
  margin-left: auto;
}

.projects-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.cards {
  display: flex;
  width: 100%;
  gap: 16px;
}

.cards .image {
  width: 100%;
  height: 200px;
  background: url("https://via.placeholder.com/200x200") no-repeat center
    center/cover;
  background-position: center;
  background-size: cover;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80dvw;
  height: 80dvh;
  z-index: 999;
  animation: fadeIn 0.3s ease-in;
}

.dialog.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
} */

.dialog-content-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.dialog-text {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: #000000;
  color: #ffffff;
  padding: 16px;
}

button {
  cursor: pointer;
}

.dialog-content-image {
  width: 60%;
  height: 100%;
  background: url("https://via.placeholder.com/1920x1080") no-repeat center
    center/cover;
  background-position: center;
  background-size: cover;
}

.swiper-slide {
  display: flex !important;
}

#about-us {
  opacity: 0;
}

.close-btn {
  position: absolute;

  z-index: 999;
  top: 16px;
  right: 16px;
  font-size: 2rem;
  color: #fff;
}

.swiper-pagination {
  transition: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
